<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<meta name="keywords" content="@ViewBag.Keywords">
	<meta name="description" content="@ViewBag.Description">
	<meta name='yandex-verification' content='5c2ea3788e9be409' />
	<title>@ViewBag.Title</title>

	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<script src="~/Scripts/jquery-1.7.1.min.js"></script>
	@Styles.Render("~/Content/foundation.min.css")
	@Styles.Render("~/Content/normalize.css")
	@Styles.Render("~/Content/Site.css")
</head>
<body>
	<div id="header" class="row">
		<div id="header_in" class="row">
			<div class="large-7 columns">
				<ul id="header_menu" class="breadcrumbs">
					<li>@Html.ActionLink("Новости", "Index", "Home")</li>
					<li>@Html.ActionLink("Скидки", "Sales", "Home")</li>
					<li>@Html.ActionLink("Игровые оценки", "Critic", "Home", new { @class = "SpecialLink" })</li>
					<li>@Html.ActionLink("Играем вместе", "Coops", "Home", new { @class = "SpecialLink" })</li>
				</ul>
			</div>
			<div class="large-5 columns">
				@Html.Partial("_searchbox")
			</div>
		</div>
	</div>

	<div class="row" id="Container">
		@RenderBody()
		<div class="page-buffer"></div>
	</div>

	<div id="footer" class="row">
		<div class="row">
			<ul id="footer_menu" class="breadcrumbs">
				<li>@Html.ActionLink("Новости", "Index", "Home")</li>
				<li>@Html.ActionLink("Скидки", "Sales", "Home")</li>
				<li>@Html.ActionLink("Игровые оценки", "Critic", "Home", new { @class = "SpecialLink" })</li>
				<li>@Html.ActionLink("Играем вместе", "Coops", "Home", new { @class = "SpecialLink" })</li>
			</ul>
		</div>
		<div class="row">
			<p id="copyright">© 2013</p>
		</div>
	</div>
</body>
</html>
