@model List<GetByNameLibrary.Domains.GameEntry>

@{
	ViewBag.Title = "Поиск низких цен онлайн по ТОПу российских магазинов. Спецпредложения и распродажи игр. Скидки на игры. ";
	ViewBag.Keywords = "новости компании, игровые новости, новости распродаж, онлайн игры, games, games online, куплю игры, купить игры, игры купить магазин, какую игру купить, игра года купить, куплю диски с играми, купить дешевые игры, купить игры дешево";
	ViewBag.Description = "Самые дешевые игры. Поиск и сравнение цен на игры по ТОПу российских магазинов. Распродажи игр онлайн, скидки на игры. Игры дешево.";
}

<!-- Блок состояния поиска -->
<div class="row">
	<div class="large-12 columns subheader"><span class="SpecialColor">Вы искали:</span> <span id="search_string">@ViewBag.Search</span></div>
	<div class="large-12 columns subheader"><span class="SpecialColor">Показано:</span>  <span id="search_count">@ViewBag.Count</span></div>
</div>

<!-- Content block -->
<div class="row">
	<div class="large-9 columns">
		<noindex>
		<table id="table_search_result">
			<thead>
				<tr>
					<th>Игра</th>
					<th>Магазин</th>
					<th>Цена (руб)</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
	{
					<tr class="table_item">
						<td class="table_item_name">
							<a rel="nofollow" href="@item.GameUrl" target="_blank">@item.Title</a>
						</td>

						<td class="table_item_store">
							@if (item.StoreUrl == "http://store.steampowered.com")
	   {                                
								<noindex>
									<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/steam.png" />
									Steam</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://roxen.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/roxen.png" />
									Roxen</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://yuplay.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/yuplay.png" />
									Yuplay</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://gama-gama.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/gama-gama.png" />
									Gama-Gama</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://gamazavr.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/gamazavr.png" />
									Gamazavr</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://shop.1csc.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/shop1c.png" />
									1С СофтКлаб</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://igromagaz.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/igromagaz.png" />
									Igromagaz</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://direct.cod.ru")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/directcod.png" />
									Direct.COD</a>
								</noindex>
	   }
	   else if (item.StoreUrl == "http://store.origin.com")
	   {
								<noindex>
								<a rel="nofollow" href="@item.StoreUrl" target="_blank">
									<img src="../../Content/favicons/origin.png" />
									Origin</a>
								</noindex>
	   }
						</td>
						<td class="table_item_cost">@item.Cost</td>
					</tr>
	}
			</tbody>
		</table>
		</noindex>

		@Html.Partial("_pagination")

	</div>
	<div class="large-3 columns">
		@Html.Partial("_sidemenu")
	</div>
</div>

<!-- Scripts block -->
<script src="../../Scripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript">

	// add parser through the tablesorter addParser method 
	$.tablesorter.addParser({
		// set a unique id 
		id: 'links',
		is: function (s) {
			// return false so this parser is not auto detected 
			return false;
		},
		format: function (s) {
			// format your data for normalization 
			return s.replace(new RegExp(/<.*?>/), "");
		},
		// set type, either numeric or text
		type: 'text'
	});

	$(document).ready(function () {
		$("#table_search_result").tablesorter({
			headers: {
				0: {
					sorter: 'links'
				}
			}
		});
	}
	);
</script>
